<%= simple_form_for(@source) do |f| %>
<h3>Basic information for the source</h3>  
<%= f.input :name  %>
  <%= f.input :urls, :label=>"RSS/ATOM feed URLs",:hint=>'Enter one URL per line.',:input_html=>{:class=>'span8',:rows=>10} %>
<h3>Regular content updates</h3>
	<%= f.input :auto_update, :label=>'Update feed automatically' %>
		
	<%= f.simple_fields_for :metadata do |m| %>
	<% if @source.metadata[:fulltext_from_url] == '1'
			opts = {:checked=>'checked'}  
		else
			opts = {}
		end%>
		
	<%= m.input :fulltext_from_url, :label=>'Get document content from URL',:required=>false, :as=>:boolean,:input_html=>opts%>
			
<h3>Document preprocessing</h3>
			<%= m.input :print_regexp, :label=>'Find/Replace for print URL', :required=>false,:hint=>'Example: index print', :input_html=>{:class=>'span8',:value=>@source.metadata[:print_regexp]}%>
			<%= m.input :filter, :label=>'CSS selector for body text', :required=>false, :hint=>'Example: div#article', :input_html=>{:class=>'span8',:value=>@source.metadata[:filter]}%>
	<% end %>
	  
<p>
<%= f.submit "Save", :class=>'btn btn-success' %> 
<%= abutton_to 'Back', @source unless @source.new_record?%></p>
<% end %>