<h2>Available Sources</h2>
<table>
<% for source in @project.sources %>
  <tr class="<%=cycle('odd','even')%>">
	<td><%= link_to short_source(source), source_path(source)%></td>
	<td><%= link_to_if(source.urls[0], '<img src="/images/feed.gif" alt=""/>'.html_safe, source.urls[0]) {}%></td>
<td> <%= source.documents.size %></td>
</tr>
<% end %>
</table>
<p>
<%= abutton_to 'Add new source', new_source_path, 'magenta small'%>
</p>
