<script class="code" type="text/javascript">
	$(document).ready(function(){
	 $.getJSON('/documents.json?source=<%=source.id%>', function(data){
	  var plot1 = $.plot($('#source_<%=source.id%>'), [data], sourcelist_opts );
	});
});
</script>  

<tr>
	<td class="toggle">
		<%=link_to short_source(source,30), source%>
		<%= abutton_to 'Edit', edit_source_path(source),{style:'btn-small',icon:'edit'}%>
	</td>
	<td><%=link_to source.documents.count, documents_path(:source=>source) %>
		</td>
	 <td><div class="sparkline" id="source_<%=source.id%>"></div></td>
	<td>
		<div class="btn-group pull-right">
				<%= abutton_to 'Update from feed', import_source_url(source),{style:'btn-small',icon:'refresh'} %> 
				<%= abutton_to 'JSON', source_path(source, :format=>'json'),{:style=>'btn-small',icon:'download'}%>
	</div>
	</td>
</tr>