<div class="btn-group pull-right">
		<%= abutton_to 'Update all sources', import_all_sources_url,{icon:'refresh'}%>
	<%= abutton_to 'CSV', {:format=>'csv'},{icon:'list-alt'}%>
	<%= abutton_to 'JSON', {:format=>'json'},{icon:'download'}%>

	</div>
	
<h2>Sources in the project</h2>
<p class="lead">The project contains documents from  <%=pluralize(@project.sources.count, 'source')%>.<br/> <%= link_to 'Add a new source', new_source_path%> or use <a href="#" data-reveal-id="quick_add">quick add</a>.

</p>


<table class="table table-striped">
<thead><th>Name</th><th>Documents</th><th>History</th><th></th><th></th></thead>
<%= render :partial => 'source', :collection => @sources%>
</table>
<p><%= paginate @sources, :theme => 'twitter-bootstrap' %></p>


<div id="quick_add" class="reveal-modal">
<h3>Quick add source</h3>
<%= simple_form_for(Source.new) do |f|%>
  <p class="welcome">
<%= f.input :site_url,:input_html=>{:class=>'span6'} %> <%= f.submit "Add website", :class=>'btn' %>
  </p>
<%end%>
</div>


