<h2><%= @user.email%>'s profile</h2>

<% if  @user == current_user %>
<p class="welcome">You have classified <%= pluralize @user.documents.count, 'document' %>.</p>

	<%= form_for @user do |f| -%>
	
	<p><label for="email">email</label><br/>
	<%= f.text_field :email %></p>
	
	<p><label for="password">Password</label><br/>
	<%= f.password_field :password %></p>
	
	
	<p><%= submit_tag 'Save' %></p>
	<% end -%>
<%else%>

<p class="welcome"><%= @user.email %> has classified <%= pluralize @user.documents.count, 'document' %>.</p>

<%end%>
