<h2><%= @user.email%>'s profile</h2>

<% if  @user == current_user %>
<p class="welcome">You have classified <%= pluralize @user.documents.count, 'document' %>.</p>
<%else%>
<p class="welcome"><%= @user.email %> has classified <%= pluralize @user.documents.count, 'document' %>.</p>
<%end%>

<%= render :partial => 'form' %>
