<tr class="<%= cycle('odd','even')%>">
		<td class="toggle">
		    <%= link_to classifier.name, classifier_path(classifier)
		%>		<%= abutton_to 'Edit', edit_classifier_path(classifier), 'small magenta'%>
		
		</td>
    			<td><%= cltype(classifier)  %></td>
				<td>
					<% if classifier.type.blank? and classifier.reliability %><br/>
						Manual: <%= classifier.reliability[:manual][1][0..2].join(', ') rescue nil %>, 
						Automatic:  <%=classifier.reliability[:auto][1][0..2].join(',  ') rescue nil %>
					<%else%>
					Not available
					<%end%>
								</td>

				<td><% classification_chart(classifier)%> 	 <%= classifier.categories.count %></td>
				<td>

	<% classifier.categories.each do | cat | -%>
					<%= link_to "#{cat.name}: #{cat.percent.round}% ", documents_path(:category=>cat.id) %>
				<% end %> 
			</td>

		<td>manual: <%= classifier.classifications.manual.count %>, automatic: <%= classifier.classifications.auto.count %></td>
		<td class="currency">
		<%= abutton_to 'Classify documents', classify_classifier_url(classifier), 'small green '%> </td>
	<td class="currency"><%=  button_to 'Delete', classifier_url(classifier), :method=>:delete, :class=>'small red delete' %>
		
</tr>