<%= simple_form_for @classifier do |f| %>
  <%= f.input :name %>
  <%= f.input :description, :input_html=>{:rows=>4}%>
  <%= f.input :parts, :collection=>@classifier.default_parts, :as=>:check_boxes%>

<% if @classifier.type == 'DictionaryClassifier'%>
	<%= f.input :regexp, :input_html=>{:rows=>4} %>
	<%= f.hidden_field :type %>
<% else %>

	<div id="categories">
	<h3>Categories</h3>
		<%= f.simple_fields_for :categories do |cat| %>
		<div class="category">    
		<%= cat.input :name, :wrapper_html=>{:class=>'nobreak'} %>
				<%= cat.input :value, :wrapper_html=>{:class=>'nobreak', :size=>4} %>
				<%= cat.input :description, :input_html=>{:rows=>2,:cols=>70} %>
				<%= cat.hidden_field :_destroy, :input_html=>{:class=>'should_destroy'} %>
		    <%= abutton_to '- Remove this category', '#', 'delcat small' %>
		</div>
		<% end %>
	</div>
	<a name="add"></a>
	<%= abutton_to '+ Add category', '#add', 'addcat blue'%>
	<h3>Coders</h3>
	<%= f.association :users, :as => :check_boxes %>
<% end %>	
<p>
  <%= f.submit "Save" %></p>
<% end %>