<h2>Classifier list</h2>
<table>
<% @classifiers.each do |classifier|%>
  <tr class="<%=cycle('odd','even')%>">
	<td><%= link_to classifier.name, classifier_path(classifier)%></td>
	<td><%= cltype(classifier)%></td>
	<td><%= pluralize(@classifier.categories.size,'category')%></td>
	</tr>
<% end %>
</table>
<p><%= abutton_to 'Add manual classifier', new_classifier_path %> <%= abutton_to 'Add automatic classifier', new_classifier_path(:type=>'dict')%></p>

