<div class="btn-group pull-right">
<%= abutton_to 'View Codebook', codebook_classifiers_url%>
<%= abutton_to 'Start all classifiers', classify_all_classifiers_url%>
</div>
<h2>Classifiers in the project</h2>

<p class="lead">
	The project contains <%= pluralize(@classifiers.size,'classifier')%> &mdash; <%= pluralize(@project.classifiers.manual.size, 'manual classifier') %> and <%= pluralize(@project.classifiers.auto.size, 'automatic classifier')%>.<br/> <%= link_to 'Add a new manual classifier', new_classifier_path %>, a <%= link_to 'new dictionary classifier', new_classifier_path(:type=>'dict') %> or a <%= link_to 'new external classifier', new_classifier_path(:type=>'ext') %>.</p>

<table class="table table-striped">
<thead> <th>Name</th><th>Type</th><th>Reliability</th><th>Categories</th><th>Details</th><th>Classifications</th><th></th><th></th> </thead>
<%= render :partial=>'classifier', :collection => @classifiers%>
</table>

<p><%= paginate @classifiers, :theme => 'twitter-bootstrap' %></p>



