<div class="grid_12">
<h2>Classifiers in the project</h2>
</div>
<div class="grid_8">
<p class="welcome">
	This project contains <%= pluralize(@classifiers.size,'classifier')%> &mdash; <%= pluralize(@project.classifiers.manual.count, 'manual classifier') %> and <%= pluralize(@project.classifiers.auto.count, 'automatic classifier')%>.<br/> <%= link_to 'Add a new manual classifier', new_classifier_path %> or a <%= link_to 'new automatic classifier', new_classifier_path(:type=>'dict') %>. </p>
	</div>
	<div class="grid_4">
	<%= abutton_to 'View Codebook', codebook_classifiers_url, 'right'%>
	<%= abutton_to 'Start all classifiers', classify_all_classifiers_url,'green  right'%>
</div>

<div class="grid_12">
<table>
	<thead> <th>Name</th><th>Type</th><th>Reliability</th><th>Categories</th><th>Details</th><th>Classified Documents</th><th></th><th></th> </thead>
<%= render :partial=>'classifier', :collection => @classifiers%>
</table>
</div>


