<script class="code" type="text/javascript">
	$(document).ready(function(){
	var plot1 = $.plot($('#classifier_dashboard'),[{label:'positive',data:12},{label:'negative',data:88}],
	{series: {pie: {show: true}}});
});
</script>

<h2>Classifier: <strong><%= @classifier.name %></strong> (<%= classifier_type(@classifier)%>)</h2>

<div class="btn-group pull-right">
<%= abutton_to 'Edit', edit_classifier_path(@classifier),{:icon=>'edit'}%> 
<%= abutton_to 'Reset', reset_classifier_path(@classifier), 
{method:'get',:style=>'btn',icon:'fire'}%>
<%= button_to 'Delete', classifier_path(@classifier), :method=>:delete,:class=>'btn btn-danger',:confirm=>'Are you sure?' %>
</div>

<p class="lead">
<%= pluralize(@classifier.classifications.size,'document')  %>
classified into <strong><%= pluralize(@classifier.categories.size,'category')%></strong> so far. 
</p>

<h3>Description</h3>
<p class="lead"> <%=h @classifier.description.blank? ? 'No description available.' : @classifier.description %><br/>
Relevant parts:
<strong><%= @classifier.parts.sort.join(' ').upcase%></strong>
</p>

<div class="btn-group pull-right">
<%= abutton_to 'Start classification', classify_classifier_path(@classifier)%>
</div>

<h3>Categories </h3>
<div class="row-fluid" style="margin-top:3em;">
	<div class="span10">
<table class="table table-striped table-condensed">
<thead><th>Category</th><th>Description</th><th class="currency">Documents</th><th class="currency">Percent</th><thead>
	<% @classifier.categories.each do | cat | %>
		<tr>
			<td><%= cat.name.capitalize %></td>
			<td><%= cat.description%></td>
			<td class="currency"><%= link_to cat.classifications.size ,documents_path(:category=>cat.id)%></td>
			<td class="currency"><%= link_to cat.percent.round(1), documents_path(:category=>cat.id) %></td>
		</tr>
		<%end%>
</table>
</div>
<% if false%>
<div id="classifier_dashboard" class="span2">
</div>
<%end%>
</div>
<h3>Reliability</h3>


<% if @classifier.type == nil && @manual%>
<p>Reliability statistics are based on <%= @manual[:n] %> pairwise codings.</p>

<p>Percent Agreement: <%= @manual[:percent] %><br/>Krippendorff's Alpha: <%= @manual[:kripp] %></p>

<h4>Replication code for R</h4>
<div id="manual_reli" class="rcode">
	<pre>
<%= @manual[:rcode].strip%>
	</pre>
</div>

<%else%>
<p>No reliability checks are available for Dictionary Classifiers. 
<%= link_to("Run reliability test", @classifier) unless @classifier.type %>	
</p>
<%end%>



