<div class="btn-group pull-right">
	<%= abutton_to 'Titles', {format:'txt',params:params},{icon:'download'}%>
	<%= abutton_to 'Link list', {format:'csv',links:1},{icon:'download'}%>
  <%= abutton_to 'Complete CSV', {format:'csv',params:params},{icon:'list-alt'}%>
</div>
<h2>Documents in the project</h2>

<p class="welcome">The project contains  <%=pluralize(@project.documents.count, 'document')%>. <%= link_to 'Start coding!', document_path(@next)  if @next%>

</p>



<table class="table table-striped">
 <thead>
    <th>Title</th>
    <th>Source</th>
    <th>Published</th>
    <th>Score</th>
  </thead>

<% @documents.each do | document | %>
  <tr class="<%=cycle('odd','even')%>">
	<td><%=link_to document.title, document, :title=>document.url%></td>
  <td><%= link_to short_source(document.source), document.source%>
	<%= link_to ' (F) ', documents_path(:source=>document.source) %></td>
    <td><%=h document.pubdate.strftime('%Y-%m-%d %H:%M')%></td>
    <td></td>
  </tr>
<% end %>
</table>

<p><%= paginate @documents, :window=>10%></p>

