<!DOCTYPE html>
<html lang="en">
<head>
	<title>NC | <%=@project.name%></title>
  <meta charset="utf-8" />

  <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
  <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->

  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

 <%= stylesheet_link_tag 'bootstrap.min', 'reveal', 'jquery.jqplot.min', 'application.css' %>
 <%= csrf_meta_tag %>

  <%= javascript_include_tag :defaults, 'jquery.jqplot.min', 'jqplot.dateAxisRenderer.min','jqplot.json2.min','bootstrap.min', 'jquery.reveal' %>

</head>
<body>
	<div class='navbar'>
  	<div class="navbar-inner">
    	<div class="container-fluid">
      	<%= link_to "NC | #{@project.name}", root_path, {:class=>'brand'}%>
        <div class="nav-collapse">
        	<ul class="nav">
            <li><%= link_to "Documents", documents_path %></li>
            <li><%= link_to "Sources", sources_path %></li>         
            <li><%= link_to "Classifiers", classifiers_path %></li>
						<li><%= link_to "Samples", samples_path %></li>
            <li><%= link_to "Users", users_path if user_signed_in? && is_admin? %></li>
					</ul>
					<ul class="nav pull-right">
					<li><a href="#" data-reveal-id="about" data-animationspeed="300">About NC</a></li>
	          <% if user_signed_in?%>
	          <li><%= link_to 'Logout', logout_path %></li>
	          <%else%>
	          <li><%= link_to 'Login', login_path %></li>
	          <%end%>
        </ul>
          </div>
        </div>
      </div>
    </div>
  <div class="container-fluid">
	  <% flash.each do | key,msg |%>
          <div class="alert alert-<%=key%>"><%=msg%></div>
     <%end%>
    <% if @fullpage %>
<%= yield %>
    <%else %>
      <div class="row-fluid">
          <div class="span10">
            <%= yield %>
          </div>
          <div class="span2">
        <%begin%>
          <%=render(:partial => "sidebar")%>
        <%rescue MissingTemplate%>
          <%nil%>
        <%end%> 
          </div>
        </div>
      </div>
    <%end%>

    
   
    <div id="about" class="reveal-modal">
      <h2>About NewsClassifier</h2>
      <p> &copy; 2008-2012 by Michael Scharkow. NewsClassifier is free software available under the AGPL v3. Get information and source code from <a href="http://newsclassifier.org">newsclassifier.org</a>.</p>
      </div>
  
  </div>

</body>
</html>

